@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url(https://allfont.es/allfont.css?fonts=bookman-old-style);

body {
    font-family: 'Open Sans', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
    gradientes
    #283c86,#45a247
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 280px;
    max-width: 280px;
    background: linear-gradient(#283048, #283048);
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background:none
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.3em;
    display: block;
}

#sidebar ul li a:hover {
    color: black;
    background: #fff;
    border-radius: 5px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: orangered;
    background: none;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: none;
}

a.article,
a.article:hover {
    background: none !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    height: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.conmap{
    width:630px;
    align-content: center;
    height:400px;
    margin-right: 5px;
}

#imgl{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
    border-radius: 40%;
}


footer {
    background: #283048;    
}

footer p {
    padding: 10px 0;
    font-size: small;
    text-align: center;
    color: white;
}

footer img {
    width: 44px;
}

#TLogo{
    font-family: 'Bookman Old Style', arial;
    font-size: 2.7em;
    font-weight: bold;
    color:rgb(213,219,51);
    font-stretch: wider;
}